<!DOCTYPE html>
<html lang="es"><!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width initial-scale=1.0">
      <link rel="stylesheet" href="../../atomic_sass/sass/utilities/normalize.css">
      <link rel="stylesheet" href="../../atomic_sass/sass/utilities/styles.css">
    </head>
  </html>
  <body>
    <header class="headers">
      <div class="header__contador">
        <p>¡Bienvenidos/as a Guifos.com! ——————Donde los gifs están./////// Número de visitas: 12.765.803</p>
      </div>
      <div class="header__contenedor1"><img src="../assets/gifOF_logo.png" alt="logo gifos azul">
        <nav class="contenedor1__nav"><a class="crear" href="#"></a>
          <select id="temas" name="temas">
            <option value="" disabled="disabled" selected="selected">Elegir tema</option>
            <option value="Sailor Day">Sailor Day</option>
            <option value="Sailor Night">Sailor Night</option>
          </select><a class="mis__guifos" href="#">Mis guifos</a>
        </nav>
      </div>
    </header>
  </body>
</html>