<!DOCTYPE html>
<html lang="es"><!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width initial-scale=1.0">
      <link rel="stylesheet" href="../../atomic_sass/sass/utilities/normalize.css">
      <link rel="stylesheet" href="../../atomic_sass/sass/utilities/styles.css">
    </head>
  </html>
  <body>
    <header class="headers">
      <div class="header__contador">
        <p>¡Bienvenidos/as a Guifos.com! ——————Donde los gifs están./////// Número de visitas: 12.765.803</p>
      </div>
      <div class="header__contenedor"><img src="../../assets/gifOF_logo.png" alt="logo gifos azul">
        <nav class="contenedor__nav"><a class="crear" href="#"></a>
          <select id="temas" name="temas">
            <option value="" disabled="disabled" selected="selected">Elegir tema</option>
            <option value="Sailor Day">Sailor Day</option>
            <option value="Sailor Night">Sailor Night</option>
          </select><a class="mis__guifos" href="#">Mis guifos</a>
        </nav>
      </div>
    </header>
    <form class="busquedas">
      <input type="text" placeholder="Busca gifs, hashtags, temas, busca lo que quieras…">
      <input class="busqueda__boton" type="submit" value="Buscar">
    </form>
    <section class="sugerencia">
      <h3>Hoy te sugerimos:</h3>
      <div class="sugerencia__gifs">
        <div class="sugerencia__gif__container">
          <div class="sugerencia__gif--titulo">
            <p>Jonathanvanness</p><img src="../../assets/button_close.svg" alt="Botón con x para cerrar"/>
          </div><img src="../../assets/280X280.jpg" alt=""/><a href="#">Ver más...</a>
        </div>
        <div class="sugerencia__gif__container">
          <div class="sugerencia__gif--titulo">
            <p>#SailorMercury</p><img src="../../assets/button_close.svg" alt="Botón con x para cerrar"/>
          </div><img src="../../assets/280X280.jpg" alt=""/><a href="#">Ver más...</a>
        </div>
        <div class="sugerencia__gif__container">
          <div class="sugerencia__gif--titulo">
            <p>#FabFive</p><img src="../../assets/button_close.svg" alt="Botón con x para cerrar"/>
          </div><img src="../../assets/280X280.jpg" alt=""/><a href="#">Ver más...</a>
        </div>
        <div class="sugerencia__gif__container">
          <div class="sugerencia__gif--titulo">
            <p>#Unicorns&amp;Rainbows</p><img src="../../assets/button_close.svg" alt="Botón con x para cerrar"/>
          </div><img src="../../assets/280X280.jpg" alt=""/><a href="#">Ver más...</a>
        </div>
      </div>
    </section>
    <section class="tendencia">
      <h3>Tendencias:</h3>
      <div class="tendencia__gifs">
        <div class="tendencia__gif__container"><img src="../../assets/288X298.jpg" alt="gifs tendencias"/>
          <p>#wink #puppie #cute #dog #hello #hi</p>
        </div>
        <div class="tendencia__gif__container"><img src="../../assets/288X298.jpg" alt="gifs tendencias"/>
          <p>#wink #puppie #cute #dog #hello #hi</p>
        </div>
        <div class="tendencia__gif__container"><img src="../../assets/288X298.jpg" alt="gifs tendencias"/>
          <p>#wink #puppie #cute #dog #hello #hi</p>
        </div>
        <div class="tendencia__gif__container"><img src="../../assets/288X298.jpg" alt="gifs tendencias"/>
          <p>#wink #puppie #cute #dog #hello #hi</p>
        </div>
        <div class="tendencia__gif__container"><img src="../../assets/592X298.jpg" alt="gifs tendencias"/>
          <p>#wink #puppie #cute #dog #hello #hi</p>
        </div>
        <div class="tendencia__gif__container"><img src="../../assets/288X298.jpg" alt="gifs tendencias"/>
          <p>#wink #puppie #cute #dog #hello #hi</p>
        </div>
        <div class="tendencia__gif__container"><img src="../../assets/288X298.jpg" alt="gifs tendencias"/>
          <p>#wink #puppie #cute #dog #hello #hi</p>
        </div>
        <div class="tendencia__gif__container"><img src="../../assets/288X298.jpg" alt="gifs tendencias"/>
          <p>#wink #puppie #cute #dog #hello #hi</p>
        </div>
        <div class="tendencia__gif__container"><img src="../../assets/288X298.jpg" alt="gifs tendencias"/>
          <p>#wink #puppie #cute #dog #hello #hi</p>
        </div>
        <div class="tendencia__gif__container"><img src="../../assets/592X298.jpg" alt="gifs tendencias"/>
          <p>#wink #puppie #cute #dog #hello #hi</p>
        </div>
      </div>
    </section>
  </body>
</html>