<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="../../atomic_sass/sass/utilities/normalize.css">
    <link rel="stylesheet" href="../../atomic_sass/sass/utilities/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch:300,300i,400,400i,500,500i,600,600i,700,700i&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="headers">
      <div class="header__contador">
        <p>¡Bienvenidos/as a Guifos.com! ——————Donde los gifs están./////// Número de visitas: 12.765.803</p>
        <div class="header__logo"><img src="./atomic_html/assets/arrow.svg" alt=""><img src="./atomic_html/assets/gifOF_logo" alt=""></div>
      </div>
    </header>
    <div class="crear-gifs">
      <p>Crear Gifos</p>
      <div class="crear-gifs__contenedor"><img src="./atomic_html/assets/window_img" alt="">
        <div class="contenedor__instrucciones">
          <p>Aquí podrás crear tus propios guifos</p>
          <p>Crear tu <strong>guifo </strong>es muy fácil, graba cualquier imagen con tu cámara y obtén guifos personalizados. Los pasos para crear tu guifo son:</p>
          <ul>
            <ol>Dar permisos de acceso a la cámara (sólo por el tiempo de uso)</ol>
            <ol>Capturar tu momento guifo</ol>
            <ol>Revisar el momento</ol>
            <ol>Listo para subir y compartir!</ol>
          </ul>
          <p>¿Quieres comenzar a crear tu <strong>guifo </strong>ahora?</p>
          <button class="contenedor__boton" id="contenedor__boton">Cancelar</button>
          <button class="contenedor__boton" id="contenedor__boton">Comenzar</button>
        </div>
      </div>
    </div>
  </body>
</html>