body {
  background-color: #fff4fd; }

.header__contador p {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(to left, #f7c9f3, #4180f6); }

.titulo {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(to left, #f7c9f3, #4180f6);
  -webkit-box-shadow: inset -2px 0 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px 0 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }

.contenedor__boton-2 {
  color: #000;
  background: #f7c9f3;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }

.mostrar_camara_titulo {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(to left, #f7c9f3, #4180f6);
  -webkit-box-shadow: inset -2px 0 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px 0 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }

.mis--gifs h3 {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 7px;
  font-size: 0.875rem; }
