/* @import "./sass/components/atomos_mis-gifos"; */
html {
  font-size: 1rem; }

.header__contador p {
  color: #ffffff;
  font-size: 0.9rem;
  /* background-image: $degradeOscuro; */
  padding: 3px 0 4px 7px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  margin-top: 0; }

.header__logo a:last-child {
  margin-left: 14px; }

.titulo {
  /* background-image: $degradeOscuro; */
  color: #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 5px;
  /* box-shadow: inset -1px -1px 0 0 $morado_1, inset 1px 1px 0 0 $blanco; */
  margin: 0; }

.contendor__instrucciones .subTitulo {
  margin-top: 0;
  font-weight: 600;
  font-size: 1rem; }

.contendor__instrucciones p, .contendor__instrucciones ol {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px; }

.contendor__instrucciones span {
  font-weight: 600;
  font-style: oblique;
  letter-spacing: 0;
  line-height: 20px; }

.contendor__instrucciones ol {
  margin: 0;
  padding-left: 0;
  line-height: 30px; }

.contendor__instrucciones li {
  margin: 0;
  padding: 0;
  list-style: none; }
  .contendor__instrucciones li .item {
    font-weight: 600;
    letter-spacing: 0;
    font-style: normal;
    margin-right: 3px; }

.contendor__instrucciones p:last-child {
  margin-bottom: 0; }

.contenedor__boton-1 {
  background: #fff4fd;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  margin-right: 1rem;
  text-align: center;
  padding: 9px 39.5px;
  margin-top: 0;
  margin-bottom: 36px;
  cursor: pointer; }

.contenedor__boton-2 {
  /* background: $fucsia; */
  color: #ffffff;
  border: 1px solid #110038;
  /* box-shadow: inset -1px -1px 0 0 $morado_1, inset 1px 1px 0 0 $blanco; */
  text-align: center;
  padding: 9px 39.5px;
  margin-right: 2.25rem;
  margin-top: 0;
  margin-bottom: 36px;
  cursor: pointer; }

.camara_titulo,
.finalizar_exito {
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding: 0; }

.mostrar_camara_titulo img {
  cursor: pointer; }

.mostrar_camara_grabar video {
  padding: 1px 0 1px 1px;
  width: 827px;
  height: 431px;
  -o-object-fit: cover;
     object-fit: cover; }

.mostrar_camara_grabar .reproducir_gif {
  display: none;
  padding: 1px 0 1px 1px;
  width: 827px;
  height: 431px; }

.mostrar_camara_icono {
  width: 36px;
  height: 36px;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  background-image: url("../atomic_html/assets/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.mostrar_camara_capturar {
  text-align: center;
  width: 144px;
  height: 36px;
  margin: 0;
  padding: 8px 0 8px 0;
  background: #f7c9f3;
  border-left: 0;
  border-top: 1px solid #110038;
  border-right: 1px solid #110038;
  border-bottom: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  cursor: pointer; }

.mostrar_camara_icono_listo {
  width: 36px;
  height: 36px;
  background: #ff6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
  background-image: url("../atomic_html/assets/recording.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.mostrar_camara_capturar_listo {
  color: #ffffff;
  text-align: center;
  width: 144px;
  height: 36px;
  margin: 0;
  padding: 8px 0 8px 0;
  background: #ff6161;
  border-left: 0;
  border-top: 1px solid #110038;
  border-right: 1px solid #110038;
  border-bottom: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
  cursor: pointer; }

.contenedor_finalizar_repetir,
.cancelar_texto {
  text-align: center;
  width: 144px;
  height: 36px;
  margin: 0;
  margin-right: 14px;
  padding: 8px 0 8px 0;
  background: #ffffff;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  cursor: pointer; }

.contenedor_finalizar_subir {
  text-align: center;
  width: 144px;
  height: 36px;
  margin: 0;
  padding: 8px 0 8px 0;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  cursor: pointer; }

.contenedor_reproducir_gif img {
  /* width: 20px;
    height: 20px; */
  padding: 5px 6px 5px 8px;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  cursor: pointer; }

.img--gif {
  max-width: 300px;
  height: 300px; }

.subir_barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #FFFCFC, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #FFFCFC, inset 2px 2px 0 0 #000000;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 22px; }
  .subir_barra .subir_barra_cuadro {
    width: 10px;
    height: 18px;
    border-right: 2px solid #999999; }
  .subir_barra .subir_barra_cuadro:last-child {
    border-right: none; }
  .subir_barra .subir_barra_cuadro--color {
    background-color: #f7c9f3; }

.subir_texto {
  font-weight: 600;
  color: #110038;
  margin-bottom: 41px; }

.subir_texto2 {
  color: #110038;
  opacity: 64%;
  font-size: 16px; }
  .subir_texto2 span {
    text-decoration: line-through; }

.finalizar_img {
  width: 371px;
  height: 196px;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  padding: 2px; }
  .finalizar_img img {
    width: 365px;
    height: 190px; }

.finalizar_botones .texto_exito {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  color: #110038;
  margin: 0 0 16px 0; }

.finalizar_botones .finalizar_boton_copiar,
.finalizar_botones .finalizar_boton_descargar {
  width: 256px;
  height: 36px;
  background: #fff4fd;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  text-align: center;
  padding: 7px 0;
  margin: 0 0 14px 0;
  cursor: pointer; }

.finalizar_listo {
  width: 144px;
  height: 36px;
  padding: 7px;
  float: right;
  margin: 55px 60px 44px 0;
  text-align: center;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #rosaOscuro, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #rosaOscuro, inset 1px 1px 0 0 #ffffff;
  cursor: pointer; }

.finalizar_titulo img {
  cursor: pointer; }

.gif__contenedor {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.nivel-2 {
  width: 632px;
  position: relative; }

.nivel-1 {
  width: 300px;
  position: relative; }

/* @import "./sass/components/atomos_mis-guifos_oscuros"; */
.header__logo {
  margin-left: 60px;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.crear-gifs__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px 0 36px;
  margin-top: 30px; }

.contendor__instrucciones {
  font-family: "Chakra Petch", sans-serif;
  width: 32.375em;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 5.813rem; }

.contenedor__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Chakra Petch", sans-serif;
  margin-top: 28px; }

.mostrar_camara_titulo,
.finalizar_titulo {
  background: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background: linear-gradient(to left, #f7c9f3, #4180f6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 24px;
  padding-right: 5px;
  padding-left: 6px;
  padding-top: 4.4px;
  padding-bottom: 2.6px; }

.mostrar_camara_grabar {
  width: 832px;
  height: 434px;
  margin: 8px 17px 0 11px;
  background: #ffffff;
  padding: 1px;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000; }

.contenedor_capturar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 21px 16px 16px 0; }

.contenedor_capturar_listo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 21px 16px 16px 0; }

.contenedor_finalizar_botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 21px 16px 16px 11px;
  height: 36px; }

.contenedor_cancelar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 21px 3px 16px 0px;
  height: 36px; }

.contenedor_repetir_enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contenedor_subir_gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 440px;
  font-family: "Chakra Petch", sans-serif; }

.mostrar_camara_reloj,
.mostrar_camara_grabando {
  display: none; }

.mis--gifs__contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[4];
      grid-template-columns: repeat(4, 300px);
  grid-gap: 16px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contenedor_finalizar {
  width: 700px;
  height: 200px;
  margin: 29px 17px 0 24px;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.finalizar_botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40px; }

.gif__contenedor--1 {
  -ms-grid-column-span: 1;
      grid-column-end: span 1; }

.gif__contenedor--2 {
  -ms-grid-column-span: 2;
      grid-column-end: span 2; }

.tendencia__gif__container {
  display: inline-block; }

.crear-gifs {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.313rem; }

.mostrar_camara {
  /*  width: 860px; */
  height: 538px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.313rem;
  font-family: "Chakra Petch", sans-serif; }

.finalizar_gif {
  /*  width: 860px; */
  height: 391px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.313rem;
  font-family: "Chakra Petch", sans-serif;
  padding: 2px 2px 0px 2px; }

.mis--gifs {
  /* display: none; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9.563rem; }
