@charset "UTF-8";
/* ----------- ESTILOS PARA ÁTOMOS COMUNES -----------  */
/* ESTILOS GLOBALES */
html {
  font-size: 1rem; }

/* ------------------------------------- */
/* ESTILOS HEADER */
.header__contador p {
  color: #ffffff;
  font-size: 0.9rem;
  /*  background-image: $degradeOscuro; */
  padding: 3px 0 4px 7px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  margin-top: 0; }

.crear {
  /*  background: $rosaNormal; */
  text-decoration: none;
  /* color: $azulGeneral; */
  padding: 9px 26.5px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  border: 1px solid #110038;
  /* box-shadow: inset -1px -1px 0 0 $rosaOscuro, inset 1px 1px 0 0 $blanco; */
  justify-self: flex-end;
  margin-right: 16px; }

.crear:hover {
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: -4px;
  /* background: $rosaMedio; */ }

.contenedor__nav__temas p {
  /*  background: $rosaNormal; */
  /*  color: $azulGeneral; */
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  border: 1px solid #110038;
  /* box-shadow: inset -1px -1px 0 0 $rosaOscuro, inset 1px 1px 0 0 $blanco; */
  width: 131px;
  margin: 0;
  padding: 9px 15.5px;
  text-align: center;
  cursor: pointer; }

.contenedor__nav__temas img {
  border-top: 1px solid #110038;
  border-right: 1px solid #110038;
  border-bottom: 1px solid #110038;
  /* background: $rosaNormal; */
  /* box-shadow: inset -1px -1px 0 0 $rosaOscuro, inset 1px 1px 0 0 $blanco; */
  padding: 13px 15px;
  justify-self: flex-end;
  cursor: pointer; }

.contenedor__nav__temas p:hover {
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: -4px;
  /* background: $rosaMedio; */ }

.contenedor__nav__temas img:hover {
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: -4px;
  /* background: $rosaMedio; */ }

.contenedor__nav {
  display: inline-block;
  position: relative; }
  .contenedor__nav ul {
    display: none;
    list-style: none;
    width: 172px;
    height: auto;
    margin: 0; }

.desplegar ul {
  display: block; }

ul {
  position: absolute;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 15px 10px;
  /*   background: $grisMedio;
  box-shadow: inset -2px -2px 0 0 $grisNormal, inset 2px 2px 0 0 $blanco; */ }

.contenedor__nav li {
  /* background: $grisClaro; */
  margin: 0;
  padding: 7px 0 7px 16px;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  cursor: pointer; }

.contenedor__nav li:first-child {
  margin: 0 0 10px 0; }

.contenedor__nav li:hover {
  /* background: $rosaClaro; */
  /* border: 1px solid $rosaIntermedio; */
  -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff; }

.contenedor__nav li:hover::first-letter {
  text-decoration: underline; }

.mis-guifos {
  text-decoration: none;
  /* color: $azulGeneral; */
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 8px 15px 8px 0; }

.mis-guifos:hover::first-letter {
  text-decoration: underline; }

.mis-guifos:hover {
  border-style: dotted;
  border-width: 1px;
  /* border-color: $azulGeneral; */ }

.mis-guifos:active {
  /* color: $azulGeneral; */
  opacity: 50%; }

/* ------------------------------------- */
/* ESTILOS SECCIÓN BUSQUEDA */
.busqueda__titulo {
  /* background-image: $degradeGlobal; */
  color: #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 5px;
  /* box-shadow: inset -2px 0 0 0 $grisNormal, inset 2px 2px 0 0 $blanco; */
  margin: 0;
  width: 100%; }

.texto__busqueda::-webkit-input-placeholder {
  color: #b4b4b4; }

.texto__busqueda:-ms-input-placeholder {
  color: #b4b4b4; }

.texto__busqueda::-ms-input-placeholder {
  color: #b4b4b4; }

.texto__busqueda::placeholder {
  color: #b4b4b4; }

.texto__busqueda {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  width: 90%;
  padding: 13px 0 13px 16px;
  font-family: "Chakra Petch", sans-serif;
  margin-right: 2px;
  outline: none; }

.busqueda__principal input {
  /* background: $grisMedio; */
  border: none;
  outline: none;
  cursor: pointer;
  /* color: $grisNormal; */ }

.busqueda__principal .lupa {
  position: relative;
  top: 3px;
  width: 15px;
  /* background-image: url("../atomic_html/assets/lupa_inactive.svg"); */
  background-repeat: no-repeat;
  height: 20px;
  cursor: pointer; }

/* CLASE QUE SE AGREGA DESDE JS PARA EL ESTADO INPUT DEL BOTON */
.lupa--input {
  position: relative;
  top: 3px;
  width: 15px;
  /* background-image: url("../atomic_html/assets/lupa.svg"); */
  background-repeat: no-repeat;
  height: 20px;
  cursor: pointer; }

.opciones {
  display: block;
  /* background: $grisClaro; */
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  width: 90%;
  margin-bottom: 10px;
  padding: 13px 0 13px 16px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  text-align: start;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  margin-right: 2px;
  outline: none;
  cursor: pointer; }

/* CLASE QUE SE AGREGA DESDE JS PARA EL ESTADO HOVER DE LAS OPCIONES */
.opciones--hover {
  /* background: $grisCasiMedio; */
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: -4px; }

.mostarOpciones {
  display: none; }

.mostarOpcionesBlock {
  display: block; }
  .mostarOpcionesBlock p {
    font-family: "Chakra Petch", sans-serif;
    padding: 12px 7px 8px 7px;
    /*     background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
    color: $blanco; */
    display: inline-block;
    margin-right: 8px; }

/* ------------------------------------- */
/* ESTILOS SECCIÓN SUGERENCIAS */
.sugerencia__gif--titulo {
  /*  background-image: $degradeGlobal; */ }
  .sugerencia__gif--titulo p {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: #ffffff;
    letter-spacing: 0;
    width: 100%;
    margin: 0; }

.sugerencia__gifs__container {
  padding: 4px 4px 0 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* @include gif-borde; */ }
  .sugerencia__gifs__container a {
    color: #ffffff;
    /* @include gif--boton; */ }
  .sugerencia__gifs__container .img--gif--sugerencia {
    width: 280px;
    height: 280px; }
  .sugerencia__gifs__container .img--gif--sugerencia:hover {
    outline-style: dotted;
    outline-width: 1px;
    outline-offset: -4px; }
  .sugerencia__gifs__container a:hover {
    outline-style: dotted;
    outline-width: 1px;
    outline-offset: -5px;
    outline-color: #110038;
    /* background-color: $azul_3; */ }

/* ------------------------------------- */
/* ESTILOS SECCIÓN TENDENCIAS */
.tendencias__gifs__contenedor p {
  display: none; }

.tendencias__gifs__contenedor:hover p {
  display: block;
  /*     background-image: $degradeGlobal;
    @include gif-titulo; */
  position: relative;
  bottom: 5px;
  padding: 7px; }

.img--gif--tendencias {
  max-width: 600px;
  height: 300px; }

/* ------------------------------------- */
/* ----------- ESTILOS PARA ÁTOMOS NORMALES -----------  */
/* ESTILOS GLOBALES */
body {
  background-color: #fff4fd; }

/* ESTILOS HEADER */
.header__contador p {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(to left, #f7c9f3, #4180f6); }

.crear {
  background: #f7c9f3;
  color: #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }

.crear:hover {
  background: #e6bbe2; }

.contenedor__nav__temas p {
  background: #f7c9f3;
  color: #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }

.contenedor__nav__temas img {
  background: #f7c9f3;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }

.contenedor__nav__temas p:hover {
  background: #e6bbe2; }

.contenedor__nav__temas img:hover {
  background: #e6bbe2; }

ul {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }

.contenedor__nav li {
  background: #f0f0f0; }

.contenedor__nav li:hover {
  background: #fff4fd;
  border: 1px solid #cca6c9; }

.mis-guifos {
  color: #110038; }

.mis-guifos:hover {
  border-color: #110038; }

.mis-guifos:active {
  color: #110038; }

/* ------------------------------------- */
/* ESTILOS SECCIÓN BUSQUEDA */
.busqueda__titulo {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(to left, #f7c9f3, #4180f6);
  -webkit-box-shadow: inset -2px 0 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px 0 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }

.busqueda__principal input {
  background: #e6e6e6;
  color: #b4b4b4; }

/* CLASE QUE SE AGREGA DESDE JS PARA EL ESTADO INPUT DEL BOTON */
.busqueda__principal .busqueda__principal--rosa {
  background: #f7c9f3;
  color: #110038; }

.busqueda__principal .lupa {
  background-image: url("../atomic_html/assets/lupa_inactive.svg"); }

/* CLASE QUE SE AGREGA DESDE JS PARA EL ESTADO INPUT DEL BOTON */
.lupa--input {
  background-image: url("../atomic_html/assets/lupa.svg"); }

.opciones {
  background: #f0f0f0; }

/* CLASE QUE SE AGREGA DESDE JS PARA EL ESTADO HOVER DE LAS OPCIONES */
.opciones--hover {
  background: #dbdbdb; }

.mostarOpcionesBlock p {
  background: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  color: #ffffff; }

/* ------------------------------------- */
/* ESTILOS SECCIÓN SUGERENCIAS */
.sugerencia h3 {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 7px;
  font-size: 0.875rem; }

.sugerencia__gif--titulo {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(to left, #f7c9f3, #4180f6); }

.sugerencia__gifs__container {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }
  .sugerencia__gifs__container a {
    background: #4180f6;
    border: 1px solid #4c2f99;
    -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #284f99, inset 1px 1px 0 0 #ffffff;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 8px 10px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 90px;
    height: 34px; }
  .sugerencia__gifs__container a:hover {
    background-color: #3a72db; }

/* ------------------------------------- */
/* ESTILOS SECCIÓN TENDENCIAS */
.tendencia h3 {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 7px;
  font-size: 0.875rem; }

.tendencias__gifs__contenedor:hover p {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(to left, #f7c9f3, #4180f6);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  color: #ffffff;
  letter-spacing: 0;
  width: 100%;
  margin: 0; }

/* ------------------------------------- */
/* @import "./sass/components/atomos-oscuros"; */
/* -----------  ESTILOS PARA MOLECULAS COMUNES -----------  */
/* ESTILOS HEADER */
.contenedor__nav__temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16.5px; }

/* ------------------------------------- */
/* ESTILOS SECCIÓN BUSQUEDA */
.busqueda__form {
  width: 100%; }

.busqueda__contenedor {
  /*   background: $grisNormal;
  box-shadow: inset -2px -2px 0 0 $grisRaro_1, inset 2px 0 0 $blanco; */
  padding: 12px 6px 12px 12px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.busqueda__principal {
  background: #e6e6e6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px -2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px -2px 0 0 #ffffff;
  padding: 9px 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Chakra Petch", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 6px;
  width: 102px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }

.busqueda__principal--borde {
  border: 1px solid #110038;
  /* box-shadow: inset -1px -1px 0 0 $rosaOscuro, inset 1px 1px 0 0 $blanco; */ }

.busqueda__principal--rosa {
  /*  background: $fucsia;
  color: $blanco; */
  cursor: pointer; }

.busqueda__principal--rosa--active {
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: -4px;
  /*  background: $rosaMedio; */
  border: 1px solid #110038;
  /*   box-shadow: inset -1px -1px 0 0 $rosaOscuro, inset 1px 1px 0 0 $blanco; */
  padding: 9px 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Chakra Petch", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3px;
  margin-right: 10px;
  margin-top: 6px;
  width: 102px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }

.busqueda__principal--active--input {
  /*   background: $rosaMedio; */
  cursor: pointer;
  border: none;
  outline: none; }

.busqueda__opciones {
  /*   background-color: $grisRaro_3;
  box-shadow: inset -2px -2px 0 0 $grisRaro_1, inset 2px 2px 0 0 $blanco; */
  margin: 0;
  padding: 15px 16px 5px 12px;
  display: none; }

.busqueda__opciones--mostrar {
  display: block; }

/* ------------------------------------- */
/* ESTILOS SECCIÓN SUGERENCIAS*/
.sugerencia__gif--titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  padding: 3px; }

.sugerencia__gifs__container {
  position: relative; }

.sugerencia__gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/* ------------------------------------- */
/* ESTILOS SECCIÓN TENDENCIAS*/
.tendencias__gifs__contenedor {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.tendencias__gifs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[4];
      grid-template-columns: repeat(4, 300px);
  grid-gap: 16px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.gif__contenedor--1 {
  -ms-grid-column-span: 1;
      grid-column-end: span 1; }

.gif__contenedor--2 {
  -ms-grid-column-span: 2;
      grid-column-end: span 2; }

.tendencia__gif__container:hover {
  /* @include gif-borde; */
  padding: 4px 4px 0px 4px; }

/* ------------------------------------- */
/* -----------  ESTILOS PARA MOLECULAS NORMALES -----------  */
/* ESTILOS SECCIÓN BUSQUEDA */
.busqueda__contenedor {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 0 0 #ffffff; }

.busqueda__principal--borde {
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }

.busqueda__principal--rosa {
  background: #f7c9f3;
  color: #110038; }

.busqueda__principal--rosa--active {
  background: #e6bbe2;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }

.busqueda__principal--active--input {
  background: #e6bbe2; }

.busqueda__opciones {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }

/* ------------------------------------- */
/* ESTILOS SECCIÓN TENDENCIAS*/
.tendencia__gif__container:hover {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }

/* ------------------------------------- */
/* @import "./sass/components/moleculas-oscuras"; */
/* -----------  ESTILOS PARA ORGANISMOS -----------  */
/* ESTILOS HEADER */
.header__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 44px 70.25px 0 70.25px; }
  .header__contenedor .contenedor__botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1; }

/* ------------------------------------- */
/* ESTILOS HEADER */
.busqueda {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px; }

/* ------------------------------------- */
/* ESTILOS HEADER */
.sugerencia {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px; }

/* ------------------------------------- */
/* ESTILOS HEADER */
.tendencia {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  overflow: hidden; }

/* ------------------------------------- */
