html {
  font-size: 1rem; }

body {
  background-color: #fff4fd; }

.header__contador p {
  color: #FFFFFF;
  font-size: 0.9rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(to left, #F7C9F3, #4180F6);
  padding: 3px 0 4px 7px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  margin-top: 0; }

.crear {
  background: #F7C9F3;
  margin-right: 16px;
  text-decoration: none;
  color: #110038;
  padding: 9px 26.5px 9px 26.5px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }

.crear:hover {
  outline-style: dashed;
  outline-width: 0.9px;
  outline-offset: -4px;
  background-color: #E6BBE2; }

.contenedor__nav__temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .contenedor__nav__temas p {
    background: #F7C9F3;
    color: #110038;
    padding: 9px 15.5px;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 131px;
    text-align: center; }
  .contenedor__nav__temas img {
    background: #F7C9F3;
    border-top: solid 1px #110038;
    border-right: solid 1px #110038;
    border-bottom: solid 1px #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 13px 15px;
    justify-self: flex-end; }

.contenedor__nav__temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16.5px; }
  .contenedor__nav__temas p:hover {
    outline-style: dashed;
    outline-width: 0.9px;
    outline-offset: -4px;
    background-color: #E6BBE2; }
  .contenedor__nav__temas img:hover {
    outline-style: dashed;
    outline-width: 0.9px;
    outline-offset: -4px;
    background-color: #E6BBE2; }

.contenedor__nav {
  display: inline-block;
  position: relative;
  z-index: 3; }
  .contenedor__nav ul {
    display: none;
    list-style: none;
    width: 167px;
    height: auto;
    margin: 0;
    padding: 0; }

.contenedor__nav:hover ul,
ul:hover {
  position: absolute;
  width: 170px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 10px;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.desplegar:hover ul,
ul:hover {
  display: block; }

.contenedor__nav li {
  margin: 0px;
  padding: 7px 0px 7px 16px;
  background-color: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }

.contenedor__nav li:first-child {
  margin: 0px 0px 10px 0px; }

.contenedor__nav li:hover {
  background-color: #fff4fd;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF; }

li:hover::first-letter {
  text-decoration: underline; }

.mis-guifos {
  text-decoration: none;
  color: #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 8px 15px 8px 0; }

.mis-guifos::first-letter {
  text-decoration: underline; }

.mis-guifos:hover {
  border-style: dashed;
  border-width: 0.1px;
  border-color: #110038; }

.mis-guifos:active {
  color: #110038;
  opacity: 50%; }

.busquedas {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
  .busquedas input:first-child {
    background-color: #FFFFFF;
    border: 1px solid #979797;
    -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    padding: 13px 0 13px 16px;
    width: 1057px;
    font-family: "Chakra Petch", sans-serif; }
  .busquedas input:first-child::-webkit-input-placeholder {
    color: #B4B4B4; }
  .busquedas input:first-child:-ms-input-placeholder {
    color: #B4B4B4; }
  .busquedas input:first-child::-ms-input-placeholder {
    color: #B4B4B4; }
  .busquedas input:first-child::placeholder {
    color: #B4B4B4; }
  .busquedas label {
    background: #E6E6E6;
    border: 1px solid #808080;
    -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    padding: 9px 14px 9px 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 3px;
    font-family: "Chakra Petch", sans-serif;
    color: #B4B4B4; }
    .busquedas label img {
      position: relative;
      top: 3px; }
    .busquedas label input {
      background: #E6E6E6;
      border: none;
      color: #B4B4B4;
      margin-right: 8px; }

.busqueda__titulo {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(to left, #F7C9F3, #4180F6);
  color: #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 3px; }

.busquedas__form {
  padding: 0 18px 12px 15px; }

.header__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 44px 70.25px 0 70.25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__contenedor .contenedor__botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.busquedas {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px; }
