html {
  font-size: 1rem; }

body {
  background-color: #fff4fd; }

.header__contador p {
  color: #FFFFFF;
  font-size: 0.9rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(to left, #F7C9F3, #4180F6);
  padding: 3px 0 4px 7px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  margin-top: 0; }

.crear {
  background: #F7C9F3;
  margin-right: 16px;
  text-decoration: none;
  color: #110038;
  padding: 9px 26.5px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  justify-self: flex-end; }

.crear:hover {
  outline-style: dotted;
  outline-width: 0.9px;
  outline-offset: -4px;
  background-color: #E6BBE2; }

.contenedor__nav__temas p {
  background: #F7C9F3;
  color: #110038;
  padding: 9px 15.5px;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  width: 131px;
  text-align: center; }

.contenedor__nav__temas img {
  background: #F7C9F3;
  border-top: solid 1px #110038;
  border-right: solid 1px #110038;
  border-bottom: solid 1px #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  padding: 13px 15px;
  justify-self: flex-end; }

.contenedor__nav__temas {
  /* display: flex;
  margin-right: 16.5px; */ }
  .contenedor__nav__temas p:hover {
    outline-style: dotted;
    outline-width: 0.9px;
    outline-offset: -4px;
    background-color: #E6BBE2; }
  .contenedor__nav__temas img:hover {
    outline-style: dotted;
    outline-width: 0.9px;
    outline-offset: -4px;
    background-color: #E6BBE2; }

.contenedor__nav {
  display: inline-block;
  position: relative; }
  .contenedor__nav ul {
    display: none;
    list-style: none;
    width: 172px;
    height: auto;
    margin: 0; }

.desplegar ul {
  display: block; }

ul {
  position: absolute;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 10px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.contenedor__nav li {
  background: #F0F0F0;
  margin: 0;
  padding: 7px 0 7px 16px;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer; }

.contenedor__nav li:first-child {
  margin: 0px 0px 10px 0px; }

.contenedor__nav li:hover {
  background-color: #fff4fd;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF; }

li:hover::first-letter {
  text-decoration: underline; }

.mis-guifos {
  text-decoration: none;
  color: #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 8px 15px 8px 0; }

.mis-guifos::first-letter {
  text-decoration: underline; }

.mis-guifos:hover {
  border-style: dotted;
  border-width: 1px;
  border-color: #110038; }

.mis-guifos:active {
  color: #110038;
  opacity: 50%; }

.busquedas {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
  .busquedas input:first-child {
    background-color: #FFFFFF;
    border: 1px solid #979797;
    -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    padding: 13px 0 13px 16px;
    width: 1057px;
    font-family: "Chakra Petch", sans-serif; }
  .busquedas input:first-child::-webkit-input-placeholder {
    color: #B4B4B4; }
  .busquedas input:first-child:-ms-input-placeholder {
    color: #B4B4B4; }
  .busquedas input:first-child::-ms-input-placeholder {
    color: #B4B4B4; }
  .busquedas input:first-child::placeholder {
    color: #B4B4B4; }
  .busquedas label {
    background: #E6E6E6;
    border: 1px solid #808080;
    -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    padding: 9px 14px 9px 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 3px;
    font-family: "Chakra Petch", sans-serif;
    color: #B4B4B4;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .busquedas label img {
      position: relative;
      top: 3px; }
    .busquedas label input {
      background: #E6E6E6;
      border: none;
      /* color: $grisNormal;
        margin-right: 8px; */ }

.busqueda__titulo {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(to left, #F7C9F3, #4180F6);
  color: #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 5px;
  -webkit-box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.busquedas__form {
  padding: 0 18px 12px 15px; }

.sugerencia h3 {
  background: #fffafe;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687d;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 7px;
  font-size: 1rem; }

.sugerencia__gif--titulo {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(to left, #F7C9F3, #4180F6); }
  .sugerencia__gif--titulo p {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 100%;
    margin: 0; }

.sugerencia__gif__container {
  padding: 4px 4px 0 4px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
  .sugerencia__gif__container a {
    color: #FFFFFF;
    background: #4180F6;
    border: 1px solid #4C2F99;
    -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 1px 1px 0 0 #FFFFFF;
            box-shadow: inset -2px -2px 0 0 #284F99, inset 1px 1px 0 0 #FFFFFF;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 8px 10px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 90px;
    height: 34px; }
  .sugerencia__gif__container .img--gif:hover {
    outline-style: dotted;
    outline-width: 1px;
    outline-offset: -4px; }
  .sugerencia__gif__container a:hover {
    outline-style: dotted;
    outline-width: 1px;
    outline-offset: -5px;
    outline-color: #110038;
    background-color: #3A72DB; }

.tendencia h3 {
  background: #fffafe;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687d;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 7px;
  font-size: 1rem; }

.tendencia__gif__container {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
  .tendencia__gif__container p {
    background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
    background-image: linear-gradient(to left, #F7C9F3, #4180F6);
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 100%;
    margin: 0; }

.contenedor__nav__temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16.5px; }

.sugerencia__gif--titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  padding: 3px; }

.sugerencia__gif__container {
  position: relative; }

.sugerencia__gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.header__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 44px 70.25px 0 70.25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__contenedor .contenedor__botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.busquedas {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px; }

.sugerencia {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px; }

.tendencia {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px; }
